@import "./common";

body {
  font-family: $primaryFont;
  color: $textPrimaryColor;
  background-image: url(../img/main-banner.jpg);
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: $mainFontSize;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}
.container-sm {
  max-width: 1200px;
  margin: 0 auto;
}
.section {
  padding: 80px 0;
}

.m-0 {
  margin: 0;
}

.swiper.gallery-slider {
  width: 300px;
  &-slide {
    img {
      width: 100%;
    }
  }
}
.swiper.cards-slider {
  width: 100%;
  padding: 24px 0;
  //overflow: visible;
  .swiper-pagination {
    position: static;
    display: flex;
    justify-content: center;
    margin-top: 24px;
  }
}

.map-block .swiper {
  position: static;

  &-wrapper {
    right: 0;
    width: auto;
    height: auto;
  }
}

.swiper.double-cards-slider {
  padding: 24px 0;
  //overflow: visible;
  .swiper-pagination {
    position: static;
    display: flex;
    justify-content: center;
    margin-top: 24px;
  }
}

.custom-dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: flex;
  background: transparent;
  align-items: center;
  justify-content: center;
  opacity: 1;
  &__small {
    border: 1px solid rgba(49, 190, 244, 1);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: 1;
  }
  // &:hover {
  //   box-shadow: 0px 3px 15px 0px rgba(49, 190, 244, 1);
  //   border: 1px solid rgba(49, 190, 244, 1);
  //   .custom-dot__small {
  //     background: rgba(49, 190, 244, 1);
  //     box-shadow: 0px 3px 15px 0px rgba(49, 190, 244, 1);
  //   }
  // }
}
.swiper-pagination-bullet-active {
  box-shadow: 0px 3px 15px 0px rgba(49, 190, 244, 1);
  border: 1px solid rgba(49, 190, 244, 1);
  .custom-dot__small {
    background: rgba(49, 190, 244, 1);
    box-shadow: 0px 3px 15px 0px rgba(49, 190, 244, 1);
  }
}

.mobile {
  display: none;
}

//медиазапросы
@import "./media";
